@media (prefers-color-scheme: dark) {
    :root {
        --colorBodyBackground: black;
        --colorMainBackground: black;
        --colorText: white;
        --colorTitle: var(--colorSecondaryLight);
        --colorLoadingBackground: #fff8;
        --colorLoadingSpan: var(--colorSecondaryDark);
    
        --colorButton: var(--colorSecondary);
        --colorButtonBorder: var(--colorSecondary);
        --colorButtonHover: var(--colorSecondaryDark);
        --colorButtonDisabled: var(--colorSecondaryLight);
    
        --colorHeaderBottomBar: var(--colorPrimaryDark);
        --colorHeaderTopBar: var(--colorPrimary);
        --colorMenuBurger: white;

        --colorInputBackground: var(--colorMainBackground);
        --colorInputBorder: var(--colorPrimary);
        --colorInputDisabledBorder: var(--colorPrimaryLight);
        --colorInputBorderFocus: var(--colorPrimaryDark);
    
        --colorNotificationBackground: var(--colorLoadingBackground);
        --colorNotificationBorder: var(--colorSecondaryLight);
        --colorNoficationCloseButtonCross: black;
    
        --colorNotificationError: red;
        --colorNotificationSuccess: #12b723;
        --colorNotificationWarning: #ffb712;
        --colorNotificationInfo: var(--colorPrimary);
    
        --colorListButtonBackground: #4c4c4c;
        --colorListTextBackground: black;
        --colorListBorder: var(--colorPrimaryLight);

        --colorUserThumbnailBackground: var(--colorSecondary);
        --colorUserThumbnailHoverBackground: var(--colorSecondaryDark);

        --colorTableRowHover: var(--colorSecondaryDark);
        --colorTableTitle: var(--colorMainBackground);
        --colorTableTitleBackground: var(--colorSecondary);
        --colorTableLines: var(--colorSecondaryDark);
    }

}