:root {
    --colorPrimary: #ffa836;
    --colorPrimaryLight: #ffd095;
    --colorPrimaryDark: #d17300;

    --colorSecondary: #a940ff;
    --colorSecondaryLight: #d475ff;
    --colorSecondaryDark: #8235cc;

    --colorBodyBackground: white;
    --colorMainBackground: white;
    --colorLoadingBackground: #0008;
    --colorLoadingSpan: var(--colorSecondaryLight);

    --colorButton: var(--colorSecondary);
    --colorButtonBorder: var(--colorSecondary);
    --colorButtonHover: var(--colorSecondaryDark);
    --colorButtonDisabled: var(--colorSecondaryDark);

    --colorHeaderBottomBar: var(--colorPrimaryDark);
    --colorHeaderTopBar: var(--colorPrimary);
    --colorMenuBurger: black;

    --colorInputBackground: var(--colorMainBackground);
    --colorInputBorder: var(--colorPrimary);
    --colorInputDisabledBorder: var(--colorPrimaryLight);
    --colorInputBorderFocus: var(--colorPrimaryDark);

    --colorNotificationBackground: var(--colorSecondaryLight);
    --colorNotificationBorder: var(--colorSecondaryDark);
    --colorNoficationCloseButtonCross: white;
    --colorNotificationText: black;

    --colorNotificationError: red;
    --colorNotificationSuccess: #12b723;
    --colorNotificationWarning: #ffb712;
    --colorNotificationInfo: var(--colorPrimary);

    --colorListButtonBackground: #ddd;
    --colorListTextBackground: white;
    --colorText: black;
    --colorTitle: var(--colorSecondaryDark);
    --colorListBorder: var(--colorPrimaryLight);

    --colorUserThumbnailBackground: var(--colorSecondary);
    --colorUserThumbnailHoverBackground: var(--colorSecondaryLight);

    --stringFontName: 'Ubuntu';

    --directionHeaderContent: row;
    --justifyContentHeaderContent: space-around;

    --zIndexHeader: 10;
    --zIndexHeaderImage: 1;

    --zIndexNotificationsDiv: 15;

    --zIndexThumbnailContent: 1;

    --displayHeaderOpenMenuText: none;

    --timeLoadingAnimation: 2s;
    --timeImageHoverInTransition: 0.1s;
    --timeImageHoverOutTransition: 0.2s;
    --timeButtonHoverInTransition: 0.1s;
    --timeButtonHoverOutTransition: 0.2s;
    --timeNotificationAppearition: 0.5s;
    --timeHeaderOpenTransition: 0.3s;
    --timeHeaderCloseTransition: 0.2s;

    --timingFunctionNotificationAppearition: ease-out;
    --timingFunctionHeaderClose: ease-out;
    --timingFunctionHeaderOpen: ease-in;
}

