:root {
    --colorPrimary: #12b7ff;
    --colorPrimaryLight: #95ccff;
    --colorPrimaryDark: #095880;

    --colorSecondary: #00BBC1;
    --colorSecondaryLight: #80DDDA;
    --colorSecondaryDark: #00676A;

    --colorBodyBackground: white;
    --colorMainBackground: white;
    --colorLoadingSpan: var(--colorSecondaryLight);

    --colorButton: var(--colorSecondary);
    --colorButtonBorder: var(--colorSecondary);
    --colorButtonHover: var(--colorSecondaryDark);

    --colorHeaderBottomBar: var(--colorPrimaryDark);
    --colorHeaderTopBar: var(--colorPrimary);

    --colorInputBackground: var(--colorMainBackground);
    --colorInputBorder: var(--colorPrimary);
    --colorInputDisabledBorder: var(--colorPrimaryLight);
    --colorInputBorderFocus: var(--colorPrimaryDark);

    --colorNotificationBackground: var(--colorSecondaryLight);
    --colorNotificationBorder: var(--colorSecondaryDark);
    --colorNoficationCloseButtonCross: white;

    --colorNotificationError: red;
    --colorNotificationSuccess: #12b723;
    --colorNotificationWarning: #ffb712;
    --colorNotificationInfo: var(--colorPrimary);

    --colorListButtonBackground: #ddd;
    --colorListTextBackground: white;
    --colorListBorder: var(--colorPrimaryLight);

    --stringFontName: 'Ubuntu';

    --directionHeaderContent: row;
    --justifyContentHeaderContent: space-around;

    --zIndexHeader: 10;
    --zIndexHeaderImage: 1;

    --zIndexNotificationsDiv: 15;

    --displayHeaderOpenMenuText: none;

    --timeLoadingAnimation: 2s;
    --timeImageHoverInTransition: 0.1s;
    --timeImageHoverOutTransition: 0.2s;
    --timeButtonHoverInTransition: 0.1s;
    --timeButtonHoverOutTransition: 0.2s;
    --timeNotificationAppearition: 0.5s;
    --timeHeaderOpenTransition: 0.3;
    --timeHeaderCloseTransition: 0.2s;

    --timingFunctionNotificationAppearition: ease-out;
    --timingFunctionHeaderClose: ease-out;
    --timingFunctionHeaderOpen: ease-out;
}

