@media (orientation: landscape) {
    :root {
        --dimenHeaderHeight: 50px;
        --dimenHeaderSpaceElements: 10px;
        --dimenHeaderBottomBar: 1px;
        --dimenHeaderTopBar: 1px;
        --dimenHeaderButtonPadding: 15px;
        --dimenHeaderHoverHeight: var(--dimenHeaderHeight);

        --dimenMainMargin: 10px;
        --dimenMainPadding: 30px;
        --dimenMainRadius: 10px;

        --dimenMainCentralDivMargin: 50px;

        --dimenNotificationsDivMargin: 20px;
        --dimenNotificationPadding: 20px;
        --dimenNotificationSpace: 10px;
        --dimenNotificationBorder: 2px;
        --dimenNotificationCloseButtonCross: 7px;
        --dimenNotificationTitleSize: 15px;
        --dimenNotificationTextSize: 12px;
        --dimenNotificationStatusBar: 10px;

        --dimenListBorder: 2px;
        --dimenListPadding: 10px;
        --dimenListTextSize: 19px;

        --dimenLoadingSize: 30px;
        --dimenLoadingPadding: 5px;
        --dimenLoadingSpanSize: 5px;
        --dimenLoadingSpanRadius: 2px;

        --dimenButtonBorder: 0px;
        --dimenButtonBorderRadius: 5px;
        --dimenButtonPadding: 20px;
        --dimenButtonTextSize: 18px;

        --dimenInputBorder: 1px;
        --dimenInputPadding: 10px;
        --dimenInputBorderRadius: 5px;
        --dimenInputMargin: 10px;

        --dimenInputLabelMarginTop: 10px;

        --dimenParagraphSize: 16px;
    }
                        
}