@media (orientation: landscape) {
    :root {
        --dimenHeaderHeight: 50px;
        --dimenHeaderSpaceElements: 10px;
        --dimenHeaderBottomBar: 1px;
        --dimenHeaderTopBar: 1px;
        --dimenHeaderButtonPadding: 15px;
        --dimenHeaderHoverHeight: var(--dimenHeaderHeight);
        --dimenMenuBurger: 0px;
        --dimenMenuBurgerLine: 0px;
        --dimenMenuBurgerMargin: 0px;

        --dimenMainMargin: 10px;
        --dimenMainPadding: 30px;
        --dimenMainRadius: 10px;
        --dimenMainMaxWidth: 60%;

        --dimenMainCentralDivMargin: 50px;

        --dimenNotificationsDivMargin: 20px;
        --dimenNotificationPadding: 20px;
        --dimenNotificationSpace: 10px;
        --dimenNotificationBorder: 2px;
        --dimenNotificationCloseButtonCross: 7px;
        --dimenNotificationButtonSize: 5px;
        --scaleNotificationCloseButton: 50%;
        --dimenNotificationTitleSize: 15px;
        --dimenNotificationTextSize: 12px;
        --dimenNotificationStatusBar: 10px;

        --dimenListBorder: 2px;
        --dimenListPadding: 10px;
        --dimenListTextSize: 19px;

        --dimenLoadingSize: 30px;
        --dimenLoadingPadding: 5px;
        --dimenLoadingSpanSize: 5px;
        --dimenLoadingSpanRadius: 2px;

        --dimenButtonBorder: 0px;
        --dimenButtonBorderRadius: 5px;
        --dimenButtonPadding: 20px;
        --dimenButtonTextSize: 18px;

        --dimenInputBorder: 1px;
        --dimenInputPadding: 10px;
        --dimenInputBorderRadius: 5px;
        --dimenInputMargin: 10px;
        --dimenLabelSize: 14px;

        --dimenInputLabelMarginTop: 10px;

        --dimenParagraphSize: 16px;
        --dimenInputSize: 16px;
        --dimenTitleSize: 25px;

        --dimenFooterSmallFont: 12px;
        --dimenFooterPadding: 20px;

        --dimenMenuTextIcon: 20px;
        
        --dimenUserThumbnailWidth: auto;
        --dimenUserThumbnailPadding: 20px;
        --dimenUserThumbnailRadius: 15px;
        --dimenUserThumbnailImageRadius: 20px;
        --dimenUserThumbnailSpace: 10px;
        --dimenUserThumbnailMargin: 20px;
        --dimenConnectedUserRoundSize: 20px;
        --dimenConnectedRobotRoundSize: 5px;

        --dimenRobotThumbnailHeight: 30px;
        --dimenTableRowRadius: 5px;
        --dimenTablePadding: 10px;
        --dimenTableSpacing: 5px;
        --dimenTableLines: 2px;
    }
                        
}