@media (orientation: portrait) {
    :root {
        --directionHeaderContent: column;
        --justifyContentHeaderContent: flex-start;

        --dimenHeaderHeight: 100px;
        --dimenHeaderSpaceElements: 10px;
        --dimenHeaderBottomBar: 1px;
        --dimenHeaderTopBar: 1px;
        --dimenHeaderButtonPadding: 15px;
        --dimenHeaderHoverHeight: 100%;
        --dimenMenuBurger: 50px;
        --dimenMenuBurgerLine: 8px;
        --dimenMenuBurgerMargin: 10px;

        --dimenMainMargin: 30px;
        --dimenMainPadding: 70px;
        --dimenMainRadius: 0px;
        --dimenMainMaxWidth: 90%;

        --dimenMainCentralDivMargin: 50px;

        --dimenNotificationsDivMargin: 20px;
        --dimenNotificationPadding: 30px;
        --dimenNotificationSpace: 15px;
        --dimenNotificationBorder: 2px;
        --dimenNotificationCloseButtonCross: 17px;
        --dimenNotificationTitleSize: 40px;
        --dimenNotificationTextSize: 30px;
        --dimenNotificationStatusBar: 10px;

        --dimenListBorder: 3px;
        --dimenListPadding: 30px;
        --dimenListTextSize: 40px;

        --dimenLoadingSize: 100px;
        --dimenLoadingPadding: 17px;
        --dimenLoadingSpanSize: 17px;
        --dimenLoadingSpanRadius: 7px;

        --dimenButtonBorder: 0px;
        --dimenButtonBorderRadius: 15px;
        --dimenButtonPadding: 30px;
        --dimenButtonTextSize: 40px;

        --dimenInputBorder: 3px;
        --dimenInputPadding: 25px;
        --dimenInputBorderRadius: 20px;
        --dimenInputMargin: 15px;
        --dimenInputSize: 35px;

        --dimenInputLabelMarginTop: 10px;

        --dimenTitleSize: 50px;
        --dimenParagraphSize: 35px;
        --dimenLabelSize: 30px;

        --displayHeaderOpenMenuText: inline-block;
    
        --dimenFooterSmallFont: 20px;
        --dimenFooterPadding: 20px;
 
        --dimenMenuTextIcon: 50px;

        --dimenUserThumbnailWidth: 100%;
        --dimenUserThumbnailPadding: 40px;
        --dimenUserThumbnailRadius: 0px;
        --dimenUserThumbnailImageRadius: 40px;
        --dimenUserThumbnailSpace: 60px;
        --dimenUserThumbnailMargin: 50px;

    }

}