footer {
    display: flex;
    background : var(--colorPrimary);
    padding: var(--dimenFooterPadding);
    flex-direction: column;
    align-items: center;
    width: calc(100% - var(--dimenFooterPadding) * 2);
}

footer ul {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background : var(--colorPrimary);
    padding: 20px;
    padding-top: 0px;
}

footer ul a {
    list-style-type: armenian;
}

footer ul h1 {
    color: var(--colorText);
    margin: 0px;
    padding: 0px;
}

footer small {
    font-size: var(--dimenFooterSmallFont)
}
