header {
    position: sticky;
    z-index: var(--zIndexHeader);
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: var(--dimenHeaderHeight);
    background: var(--colorPrimary);

    border-bottom: var(--dimenHeaderBottomBar) solid var(--colorHeaderBottomBar);
    border-top: var(--dimenHeaderTopBar) solid var(--colorHeaderTopBar);
    transition: var(--timeHeaderCloseTransition) all var(--timingFunctionHeaderClose);
    overflow: hidden;
}

header.open {
    max-height: 1000px;
    transition: var(--timeHeaderOpenTransition) all var(--timingFunctionHeaderOpen);
}

header button.open-menu {
    display: var(--displayHeaderOpenMenuText);
}

header div.menu-burger {
    display: inline-block;
    position: relative;
    opacity: 1;
    width: var(--dimenMenuBurger);
    height: var(--dimenMenuBurgerLine);
    background: var(--colorMenuBurger);
    border-radius: var(--dimenMenuBurgerLine);
    margin: var(--dimenMenuBurgerMargin);
    margin-bottom: calc(var(--dimenMenuBurgerMargin) + var(--dimenMenuBurgerLine) * 4);
    transition: var(--timeHeaderCloseTransition) all var(--timingFunctionHeaderClose);
}

header div.menu-burger:before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: var(--dimenMenuBurger);
    height: var(--dimenMenuBurgerLine);
    left: 0px;
    background: var(--colorMenuBurger);
    border-radius: var(--dimenMenuBurgerLine);
    transform: translateY(400%);
    transition: var(--timeHeaderCloseTransition) all var(--timingFunctionHeaderClose);
}

header div.menu-burger:after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: var(--dimenMenuBurger);
    height: var(--dimenMenuBurgerLine);
    left: 0px;
    background: var(--colorMenuBurger);
    border-radius: var(--dimenMenuBurgerLine);
    transform: translateY(200%);
    transition: var(--timeHeaderCloseTransition) all var(--timingFunctionHeaderClose);
}

header.open div.menu-burger {
    background: #0000;
    transition: var(--timeHeaderOpenTransition) all var(--timingFunctionHeaderOpen);
    transform: translateY(0) rotate(45deg);
}

header.open div.menu-burger:before {
    transform: translateY(0) rotate(45deg);
    transition: var(--timeHeaderOpenTransition) all var(--timingFunctionHeaderOpen);
}

header.open div.menu-burger:after {
    transform: translateY(0) rotate(-45deg);
    transition: var(--timeHeaderOpenTransition) all var(--timingFunctionHeaderOpen);
}

header > div {
    display: flex;
    width : 100%;
    height : 100%;
}

header ul.header-list > img {
    height: var(--dimenHeaderHeight);
    transition: all var(--timeImageHoverOutTransition) ease-out;
    z-index: var(--zIndexHeaderImage);
    cursor: pointer;
}

header ul.header-list > img:hover {
    background: var(--colorPrimaryDark);
    transition: all var(--timeImageHoverInTransition) ease-out;
}

header ul.header-list {
    display: flex;
    flex-direction: var(--directionHeaderContent);
    align-items: center;
    justify-content: var(--justifyContentHeaderContent);
    width: 100%;
    margin: 0px;
    padding: 0px;
    scale: 1;
    overflow: hidden;
}

header ul.header-list > *:not(div.loading) {
    flex-shrink: 0;
    height: var(--dimenHeaderHeight);
    transition: var(--timeHeaderCloseTransition) all var(--timingFunctionHeaderClose);
}

@media (orientation: portrait) {
    header ul.header-list > *:not(div.loading):not(img) {
        width: 100%;
    }

    header ul.header-list > img {
        width: auto;
        padding-right: 100%;
        padding-left: 100%;
    }

    header.open ul.header-list > *:not(div.loading) {
        height: var(--dimenHeaderHeight);
    }
}

header ul.header-list span {
    flex-grow: 1;
}

header ul.header-list button {
    background: var(--colorPrimary);
    border-radius: 0px;
    padding: var(--dimenHeaderButtonPadding);
    height: 100%;
    font-weight: normal;
}

header ul.header-list button img.active {
    margin-right: var(--dimenHeaderButtonPadding);
}

header ul.header-list button:hover {
    background: var(--colorPrimaryDark);
}

header ul.header-list img {
    height: 100%;
}


header div.burger {
    position: relative;
    display: inline-block;
    width: var(--headerBurgerSize);
    height: var(--headerBurgerSize);
}