@import url("./header.css");
@import url("./main.css");
@import url("./loader.css");
@import url("./notifications.css");

@import url("./themes/default.css");
@import url("./themes/dark.css");
@import url("./themes/landscape.css");
@import url("./themes/portrait.css");

* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--colorBodyBackground);
    font-family: var(--stringFontName), sans-serif;
    width: 100%;
    height: 100%;
}

