#root {
    position: fixed;
    left: 0px;
    right: 0px;
    top: var(--dimenHeaderHeight);
    bottom: 0px;
    overflow: auto;
}

main {
    position: relative;
    display: flex;
    left: 0px;
    right: 0px;
    height: auto;
    justify-content: center;
}

main > * {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: var(--dimenMainMargin);
    padding: var(--dimenMainPadding);
    border-radius: var(--dimenMainRadius);
    background: var(--colorMainBackground);
}

p {
    font-size: var(--dimenParagraphSize);
    color: var(--colorText);
}

button {
    display: flex;
    color: var(--colorText);
    justify-content: center;
    background: var(--colorButton);
    border : var(--dimenButtonBorder) solid var(--colorButtonBorder);
    border-radius: var(--dimenButtonBorderRadius);
    padding: var(--dimenButtonPadding);
    transition: all var(--timeButtonHoverOutTransition);
    font-family: var(--stringFontName), sans-serif;
    font-size: var(--dimenButtonTextSize);
}

button[ disabled ] {
    color: var(--colorButtonDisabled);
}

button:not(.text) * {
    align-self: center;
    vertical-align: middle;
}

button img[src] {
    margin-right: calc(var(--dimenButtonPadding) / 2);
}

button.text {
    flex-grow: 1;
    display: inline-block;
    background: none;
    border: none;
    border-bottom: 1px solid var(--colorButtonBorder);
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-decoration: none;
    font-size: var(--dimenParagraphSize);
}

button.submit-button {
    width: 100%;
}

button:not([disabled]):hover {
    background : var(--colorButtonHover);
    transition: all var(--timeButtonHoverInTransition);
    cursor: pointer;
}

button.text:not([disabled]):hover {
    background: none;
    color : var(--colorButtonHover);
}

main div.main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    margin-top: var(--dimenMainCentralDivMargin);
    margin-bottom: var(--dimenMainCentralDivMargin);
}

main div.main-div > div {
    margin: auto;
    max-width: var(--dimenMainMaxWidth);
}

main div.central-div {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%!important;
    border-radius: 0px;
    background: var(--colorPrimary);
    padding-top: var(--dimenMainPadding);
    padding-bottom: var(--dimenMainPadding);
    margin: 0px;
    margin-top: var(--dimenMainCentralDivMargin);
    margin-bottom: var(--dimenMainCentralDivMargin);
}

main div.central-div > div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--dimenMainPadding);
    border-radius: var(--dimenMainRadius);
    background: var(--colorMainBackground);
}

h1 {
    color: var(--colorTitle);
    font-size: var(--dimenTitleSize);
}

.form h1, .form p.alternative-text {
    text-align: center;
}

div.list {
    display: flex;
    flex-direction: column;
}

div.list h1 {
    display: block;
    margin-top: 0px;
}

div.list > *:not(h1) {
    width: 100%;
    margin: 0xp;
    padding: var(--dimenListPadding);
    border-radius: 0px;
    border: none;
    border-bottom: var(--dimenListBorder) solid var(--colorListBorder);
}

div.list button {
    background: var(--colorListButtonBackground);
}

div.list p {
    display: block;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: var(--dimenListTextSize);
    background: var(--colorListTextBackground);
}

div.iconText {
    display: flex;
    flex: row;
    flex-wrap: none;
    height: var(--dimenMenuTextIcon);
    align-items: center;
    margin: none;
}

div.iconText img {
    display: inline-block;
    height: 100%;
    margin-right: var(--dimenListPadding);
}

input {
    display: block;
    position: relative;
    color: var(--colorText);
    width: calc( 100% - ( var(--dimenButtonPadding) * 2 ) );
    background: var(--colorInputBackground);
    padding: var(--dimenInputPadding);
    border: var(--dimenInputBorder) solid var(--colorInputBorder);
    border-radius: var(--dimenInputBorderRadius);
    margin-top: var(--dimenInputMargin);
    margin-bottom: var(--dimenInputMargin);
    transition: var(--timeButtonHoverOutTransition) all ease-out;
    font-size: var(--dimenInputSize);
}

input[ disabled ] {
    border: var(--dimenInputBorder) solid var(--colorInputDisabledBorder);
}

input:focus {
    border: var(--dimenInputBorder) solid var(--colorInputBorderFocus);
    transition: var(--timeButtonHoverInTransition) all ease-out;
}

label.input-label {
    color: var(--colorText);
    display: inline-block;
    margin-top: var(--dimenInputLabelMarginTop);
    font-size: var(--dimenLabelSize);
}

img.user-icon {
    border-radius: 50%;
}

div.list-users {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: var(--dimenMainRadius);
    width: 100%;
}

div.user-thumbnail {
    display: inline-block;
    position: relative;
    background: var(--colorUserThumbnailBackground);
    border-radius: var(--dimenUserThumbnailRadius);
    margin-right: var(--dimenMainMargin);
    overflow: hidden;
}

div.list-users div.user-thumbnail {
    width: var(--dimenUserThumbnailWidth);
    margin: var(--dimenUserThumbnailMargin);
}

div.user-thumbnail div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: var(--dimenUserThumbnailPadding);
    padding-bottom: 0px;
    z-index: var(--zIndexThumbnailContent);
    cursor: pointer;
}

div.user-thumbnail span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: calc( 2 * var(--dimenUserThumbnailPadding) + var(--dimenUserThumbnailRadius) + var(--dimenParagraphSize));
    background-color: var(--colorUserThumbnailBackground);
    background: linear-gradient(0deg, var(--colorUserThumbnailHoverBackground) 0%, #0000 100%);
    transition: 0.5s all ease-in-out;
}

div.user-thumbnail:hover span {
    height: 100%;
    background-color: var(--colorUserThumbnailHoverBackground);
    transition: 0.5s all ease-in-out;
}

div.user-thumbnail img {
    display: inline-block;
    border-radius: var(--dimenUserThumbnailImageRadius);
}

div.user-thumbnail p {
    margin-top: var(--dimenThumbnailSpace);
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    padding: var(--dimenUserThumbnailPadding);
    border-bottom-left-radius: var(--dimenUserThumbnailRadius);
    border-bottom-right-radius: var(--dimenUserThumbnailRadius);
}

