section#notifications {
    position: fixed;
    display: flex;
    right: 0px;
    bottom: 0px;
    max-height: 100%;
    margin: var(--dimenNotificationsDivMargin);
    z-index : var(--zIndexNotificationsDiv);
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    overflow-y: auto;
}

section#notifications > div {
    position: relative;
    background: var(--colorNotificationBackground);
    padding: var(--dimenNotificationPadding);
    margin-top: var(--dimenNotificationSpace);
    border: var(--dimenNotificationBorder) solid var(--colorNotificationBorder) ;
    animation-name: openfade;
    animation-duration: var(--timeNotificationAppearition);
    animation-timing-function: var(--timingFunctionNotificationAppearition);
}

section#notifications > div:before {
    position: absolute;
    content: " ";
    height: 100%;
    width: var(--dimenNotificationStatusBar);
    top: 0px;
    left: 0px;
}

@keyframes openfade {
    0% {
        transform: translateX(100%);
        max-height: 0px;
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        max-height: 50%;
        opacity: 1;
    }
}


section#notifications > div.error:before {
    background: var(--colorNotificationError);
}

section#notifications > div.success:before {
    background: var(--colorNotificationSuccess);
}

section#notifications > div.info:before {
    background: var(--colorNotificationInfo);
}

section#notifications > div.warning:before {
    background: var(--colorNotificationWarning);
}

section#notifications > div button.close-notification-button {
    position: absolute;
    right: var(--dimenNotificationPadding);
    height: 10px;
    width: 10px;
    scale: 75%;
    transform-origin: right top;
}

section#notifications > div button.close-notification-button:after {
    position: absolute;
    content: " ";
    top: calc( 50% - var(--dimenNotificationCloseButtonCross) / 2 );
    left: 0px;
    width: calc( 100% );
    height: var(--dimenNotificationCloseButtonCross);
    background: var(--colorNoficationCloseButtonCross);
    border-radius: var(--dimenNotificationCloseButtonCross);
    transform: rotate( 45deg );
}

section#notifications > div button.close-notification-button:before {
    position: absolute;
    content: " ";
    left: calc( 50% - var(--dimenNotificationCloseButtonCross) / 2 );
    top: 0px;
    height: calc( 100% );
    width: var(--dimenNotificationCloseButtonCross);
    background: var(--colorNoficationCloseButtonCross);
    border-radius: var(--dimenNotificationCloseButtonCross);
    transform: rotate( 45deg );
}

section#notifications > div h3 {
    margin-right: calc( ( var(--dimenButtonPadding) + var(--dimenButtonBorder) ) * 2 );
    margin-top: calc( var(--dimenButtonPadding) / 3 );
    font-size: var(--dimenNotificationTitleSize);
}

section#notifications > div p {
    font-size: var(--dimenNotificationTextSize);
    color: var(--colorNotificationText);
}
